
@import url(partials/var.scss);

header{
    background-color: $header-bgr;
    color: $header-txt;
}
main{
    background-color: $main-bgr;
    color: $main-txt;
}
footer{
    background-color: $footer-bgr;
    color: $footer-txt;
}